/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 9.14.47
    Author     : Riccardo
*/
body{
    background-color: #b3b3ff;
    font: 17px/25px "Open Sans", Arial, sans-serif;
}

h1{
    color: white;
    font: 40px/60px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h2, h3{
    color: black;
    font: 25px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}
a{
    color:white;
}
a:link{
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
}

header{
    min-height: 50px;
    position: relative;
    background-color: #00134d;    
}
#Title{
    display: inline-block;
}
#TitleLogin{
    display: inline-block;
}
div#Title h1{
    display: inline-block;
    line-height: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#Summary nav ol{
    display: grid;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background-color: #f2f2f2;    
    padding: 10px;
}
nav ol a, p a{
    color: darkblue;
}
nav ol a:hover{
    font-weight: bold;
}
#FunctionBody p, #Description p{
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background-color: #f2f2f2;    
    padding: 10px;
}
#nav-container {
    display: inline-block;
    position: absolute;
}
nav ul, nav li{
    list-style-type: none;
    display: inline-block;
    color: white;
}
nav li{
    padding-left: 20px;
    padding-right: 20px;  
}
nav li.active{
    text-decoration: underline;
}

#name-logout h4{
    color: white;
}
#name-log{
    margin-top: -20px;
}
#nav-log nav{
    margin-top: -34px;
}
#sidebar {
    float: left;
    width: 206px;
    padding-left: 0px;
    padding-right: 5px;
}
#sidebar{
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background-color: #f2f2f2;
    margin-top: 5px;
    padding-right: 20px;
    padding-bottom: 25px;
}
#sidebar ul {
    list-style: none;
}
#sidebar #persone li{
    list-style-image: url(img/icona_persona.png);
}
#smash{
    list-style-image: url(img/icona_smash.png);
}
#speedrun{
    list-style-image: url(img/icona_speedrun.png);
}
#posts, #profile {
    margin-left: 270px;
    margin-right: 5px;
    padding-bottom: 10px;
}
.ProfilePic img{
    max-width: 100px;
    max-height: 100px;
}

div#posts h4{
    display: inline-block;
}

.postcontent{
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.postcontent a{
    color: darkblue;
}
#titlelog{
    background-color: #b3b3ff;
    text-align: center;
    color: darkblue;
}
#titlelog h1{
    color: darkblue;
}
#formlog{
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background-color: #f2f2f2;
    width: 380px;
    height: 200px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
form button{
    width: 100%;
    padding: 10px;
}
#profile form button{
    width: 95%;
    padding: 10px;
    margin-top: 18px;
}
#datalog label:after{
    content: '\A';
    white-space: pre;
}
#datalog label{
    font: 20px/25px "Open Sans", Arial, sans-serif;
}
#datalog div{
    margin-top: 10px;
}
#datalog input{
    width: 98.2%;
}
.dataprofile{
    margin-bottom: 10px;
}
.dataprofile input{
    float: right;
    width: 216px;
}
.logbutton{
    padding-top: 15px;
}
#profile{
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-top: 5px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 400px;
    border-radius: 5px;
    padding-right: 10px;    
}
input:focus{
   border-color: #8080ff;
}
textarea:focus{
   border-color: #8080ff;
}

@media only screen and (max-width: 480px){
    h1{
        color: white;
        font: 25px/40px "Open Sans", Arial, sans-serif;
        font-weight: bold;
    }
    a:link{
        font-size: 14px;
        text-decoration: none;
        color: darkblue;
    }
    #name-logout h4{
        font-size: 14px;
        color: white;
        margin-bottom: 28px;
    }
    div#Title h1{
        display: inline-block;
        line-height: 10px;
        padding-left: 10px;
        padding-right: 0px;
    
    }
    
    nav ul, nav li{
        display: grid;
        list-style-type: none;
        color: white;
    }
    nav li{
        padding-left: 0px;
        padding-right: 0px;  
    }
    
    header img{
        width: 14px;
        height: 14px;
    }
    #name-log {
        margin-top: -15px;
    }
    #nav-container ul{
        margin-top: 0px;
    }
    #profile {
        background-color: #f2f2f2;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        margin-top: 5px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 400px;
        border-radius: 5px;
        float: left;
    }
    #profile {
        margin-left: 0px;
        margin-right: 0px;
    }
    #posts{
        float: left;
        margin-left: 0px;
        margin-right: 0px;
    }
    .postcontent {
        background-color: #f2f2f2;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        margin-top: 5px;
        margin-bottom: 15px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 400px;
    }
    #formlog {
        width: 320px;
    }
}
@media only screen and (min-width: 480px)
                   and (max-width: 880px){                                     
    #profile {
        float: left;
        margin-left: 15px;
        margin-right: 0px;
    }
    #sidebar{
       margin-top: 5px;
       padding-right: 0px;
       padding-bottom: 25px; 
    }
    #posts{
        margin-left: 230px;
        margin-right: 5px;
        padding-bottom: 10px;
    }
    h1{
        color: white;
        font: 28px/42px "Open Sans", Arial, sans-serif;
        font-weight: bold;
    }
    a:link{
        font-size: 16px;
        text-decoration: none;
        color: darkblue;
    }
    #name-logout h4{
        font-size: 14px;
        color: white;
        margin-bottom: 28px;
    }
    header img{
        width: 16px;
        height: 16px;
    }
    div#Title h1 {
        padding-right: 0px; 
    }
    #name-log {
        margin-top: -15px;
    }
    #nav-container ul{
        margin-top: 0px;
    }
    #nav-log nav{
        margin-top: -48px;
    }
    nav li{
        padding-left: 0px;
        padding-right: 15px;  
    }
    #nav-container ul {
        margin-top: 13px;
    }
    .postcontent img{
        width: 200px;
        height: 150px;
    }
}
