/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 9.14.47
    Author     : Riccardo
*/
body{
    background-color: #b3b3ff;
    font: 17px/25px "Open Sans", Arial, sans-serif;
}

h1{
    color: white;
    font: 40px/60px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h2, h3{
    color: black;
    font: 25px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}
a{
    color:white;
}
a:link{
    font-size: 20px;
    text-decoration: none;
    color: darkblue;
}
a:hover{
    font-weight: bold;
}

header{
    min-height: 50px;
    position: relative;
    background-color: #00134d;    
}
#Title{
    display: inline-block;
    border-right: 2px solid white;
}
#TitleLogin{
    display: inline-block;
}
div#Title h1{
    display: inline-block;
    line-height: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#nav-container {
    display: inline-block;
    position: absolute;
}

nav ul, nav li{
    display: inline-block;
    color: white;
}
nav li{
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid #111111;    
}
nav li.active{
    text-decoration: underline;
}
#sidebar {
    float: left;
    width: 206px;
    padding-left: 0px;
    padding-right: 5px;
}
#sidebar{
    border-right: 2px solid white;
}
#sidebar li {
    list-style: none;
}
#posts {
    margin-left: 325px;
    margin-right: 5px;
    padding-bottom: 10px;
}

