/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 9.14.47
    Author     : Riccardo
*/
body{
    background-color: #b3b3ff;
    font: 17px/25px "Open Sans", Arial, sans-serif;
}

h1{
    color: white;
    font: 40px/60px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h2, h3{
    color: black;
    font: 25px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}
a{
    color:white;
}
a:link{
    font-size: 20px;
    text-decoration: none;
    color: darkblue;
}
a:hover{
    font-weight: bold;
}

header{
    min-height: 50px;
    position: relative;
    background-color: #00134d;    
}
#Title{
    display: inline-block;
}
#TitleLogin{
    display: inline-block;
}
div#Title h1{
    display: inline-block;
    line-height: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#nav-container {
    display: inline-block;
    position: absolute;
}

nav ul, nav li{
    display: inline-block;
    color: white;
}
nav li{
    padding-left: 20px;
    padding-right: 20px;  
}
nav li.active{
    text-decoration: underline;
}
#name-logout{
    display: inline-block;
    float: right;
    padding-right: 15px;
}
#name-logout h4{
    color: white;
}
#name-log{
    margin-top: -20px;
}
#nav-log nav{
    margin-top: -34px;
}
#sidebar {
    float: left;
    width: 206px;
    padding-left: 0px;
    padding-right: 5px;
}
#sidebar{
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background-color: #f2f2f2;
    margin-top: 5px;
    padding-right: 20px;
    padding-bottom: 25px;
}
#sidebar ul {
    list-style: none;
}
#sidebar #persone li{
    list-style-image: url(img/icona_persona.png);
}
#posts, #profile {
    margin-left: 270px;
    margin-right: 5px;
    padding-bottom: 10px;
}
.ProfilePic img{
    max-width: 100px;
    max-height: 100px;
}

div#posts h4{
    display: inline-block;
}

.postcontent{
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 5px;
}
.postcontent a{
    color: darkblue;
}
#titlelog{
    background-color: #b3b3ff;
    text-align: center;
    color: darkblue;
}
#titlelog h1{
    color: darkblue;
}
#formlog{
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background-color: #f2f2f2;
    width: 380px;
    height: 200px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
}
form button{
    width: 100%;
    padding: 10px;
}
#datalog label:after{
    content: '\A';
    white-space: pre;
}
#datalog label{
    font: 20px/25px "Open Sans", Arial, sans-serif;
}
#datalog div{
    margin-top: 10px;
}
#datalog input{
    width: 98.2%;
}
.dataprofile{
    margin-bottom: 10px;
}
.dataprofile input{
    float: right;
    margin-right: 60px;
}
.logbutton{
    padding-top: 15px;
}
#profile{
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-top: 5px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
    width: 400px;
    
}
#profile button{
    width: 95%;
}