/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 9.14.47
    Author     : Riccardo
*/
body{
    background-color: #b3b3ff;
    font: 17px/25px "Open Sans", Arial, sans-serif;
}

h1{
    color: white;
    font: 30px/50px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h2, h3{
    color: black;
    font: 25px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

a:link{
    font-size: 20px;
    text-decoration: none;
    color: darkblue;
}

a:hover{
    font-weight: bold;
}
header{
    padding: 10px;
    min-height: 20px;
    position: relative;
    background-color: #00134d;    
}
nav ul, nav li{
    position: relative;
    display: inline-block;
}
nav li{
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid #111111;   
}

nav li:last-child{
    border-right: 0px solid #111111;
}

nav li:after{
    content: '\A';
    white-space: pre;
}
nav li.active{
    text-decoration: underline;
}
#sidebar {
    float: left;
    width: 300px;
    padding-left: 0px;
    padding-right: 5px;
}
#sidebar li {
    list-style: none;
}
#posts {
    margin-left: 325px;
    margin-right: 5px;
    padding-bottom: 10px;
}
